body {
    margin: 0; /* All 4 sides set to zero */
    text-align: center;
    font-family: 'Cantata One', serif;
}

h1 {
    color: #66BFBF;
    font-size: 3.5rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Rock Salt', cursive;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Nunito Sans', sans-serif;
}

h3 {
    color: #11999E;
    font-family: 'Nunito Sans', sans-serif;
}

#top-container {
    background-color: #39B5E0;
    position: relative;
    padding-top: 100px;
}

#middle-container {

}

#bottom-container {
    background-color: #11999E;
}


.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 600px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 600px;
    top: 50px;
}
